<img id="home"
name="home"
class="drag-icon padding-icon-text"
src="img/home_icon.png"
draggable="true" data-id="home" />

<img id="weather"
name="home"
class="drag-icon padding-icon-text"
src="img/weather_station.png"
draggable="true" data-id="weather" />

<div>
  <p>
    <span class="icon-question-sign"></span> Simply drag and drop these icons to the map to place them in a location.
    This tool can also be combined with the editor widget to edit your FeatureLayers and add new points. I will however, leave that part up to you.
  </p>
</div>
